########################################
# NODE
########################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

########################################
# ENV VARIABLES
########################################
.env
.env.*
!.env.example

########################################
# LOGS
########################################
logs/
*.log

########################################
# TEMP FILES
########################################
tmp/
temp/
.cache/
coverage/

########################################
# BUILD / DIST
########################################
dist/
build/

########################################
# UPLOADS (si manejas archivos locales)
########################################
uploads/
public/uploads/

########################################
# DATABASE LOCAL
########################################
*.sqlite
*.sqlite3
*.db

########################################
# OS FILES
########################################
.DS_Store
Thumbs.db

########################################
# IDE
########################################
.vscode/
.idea/
*.swp

########################################
# TEST OUTPUT
########################################
coverage/

# secrets
serviceAccountKey.json
config/*.json
*.pem
*.key